In [3]:
import pandas as pd

In [2]:
x = pd.read_csv('top_rated_movies.csv')
x

,Unnamed: 0,adult,genre_ids,original_language,title,overview,popularity,release_date,vote_average,vote_count
0,0,False,"[28, 12, 16, 878]",en,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2471.835,2023-05-31,8.8,1285
1,1,False,"[18, 80]",en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",115.886,1972-03-14,8.7,18084
2,2,False,"[18, 80]",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,85.399,1994-09-23,8.7,23943
3,3,False,"[18, 80]",en,The Godfather Part II,In the continuing saga of the Corleone crime f...,65.367,1974-12-20,8.6,10915
4,4,False,"[35, 18, 10749]",hi,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",29.560,1995-10-19,8.6,4148
...,...,...,...,...,...,...,...,...,...,...
11155,11155,False,[37],it,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,65.824,1966-12-23,8.5,7459
11156,11156,False,"[12, 14, 28]",en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,82.604,2003-12-01,8.5,21713
11157,11157,False,"[28, 12, 16, 18]",en,Primal: Tales of Savagery,Genndy Tartakovsky's Primal: Tales of Savagery...,12.466,2019-11-21,8.5,265
11158,11158,False,"[18, 80]",en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",44.112,1990-09-12,8.5,11336
11159,11159,False,"[18, 10749]",it,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",34.734,1988-11-17,8.5,3786

In [15]:
x.isnull().sum()

Unnamed: 0           0
adult                0
genre_ids            0
original_language    0
title                0
overview             0
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64

In [4]:
mvnavidad = pd.read_csv('christmas_movies.csv')
mvnavidad.head()

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
0,Love Actually,R,135.0,7.6,55.0,"Comedy, Drama, Romance",2003.0,Follows the lives of eight very different coup...,Richard Curtis,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...","491,920",$59.70M,https://m.media-amazon.com/images/M/MV5BMTY4Nj...,Movie
1,National Lampoon's Christmas Vacation,PG-13,97.0,7.5,49.0,Comedy,1989.0,The Griswold family's plans for a big family C...,Jeremiah S. Chechik,"Chevy Chase, Beverly D'Angelo, Juliette Lewis,...","198,428",$71.32M,https://m.media-amazon.com/images/M/MV5BMGZkMW...,Movie
2,Spirited,PG-13,127.0,6.6,55.0,"Comedy, Family, Musical",2022.0,A musical version of Charles Dickens's story o...,Sean Anders,"Will Ferrell, Ryan Reynolds, Octavia Spencer, ...","34,304",NaN,https://m.media-amazon.com/images/M/MV5BY2RlZG...,Movie
3,Home Alone,PG,103.0,7.7,63.0,"Comedy, Family",1990.0,"An eight-year-old troublemaker, mistakenly lef...",Chris Columbus,"Macaulay Culkin, Joe Pesci, Daniel Stern, John...","584,210",$285.76M,https://m.media-amazon.com/images/M/MV5BMzFkM2...,Movie
4,How the Grinch Stole Christmas,PG,104.0,6.3,46.0,"Comedy, Family, Fantasy",2000.0,"On the outskirts of Whoville lives a green, re...",Ron Howard,"Jim Carrey, Taylor Momsen, Kelley, Jeffrey Tam...","259,796",$260.04M,https://m.media-amazon.com/images/M/MV5BNWNiNT...,Movie

In [5]:
mvnavidad.isnull().sum()

title             0
rating          142
runtime          39
imdb_rating      39
meta_score      692
genre             1
release_year      8
description       0
director          5
stars            12
votes            39
gross           708
img_src           0
type              0
dtype: int64

In [13]:
mvt = pd.read_csv('movies_updated.csv')
mvt

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772.0,Warner Bros.,"146.0,"
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,"104.0,"
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,"124.0,"
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539.0,Paramount Pictures,"88.0,"
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344.0,Orion Pictures,"98.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Birthday Girl,R,Comedy,2001,"February 1, 2002 (United States)",6.1,25000,Jez Butterworth,Tom Butterworth,Nicole Kidman,United Kingdom,13000000,16171098.0,FilmFour,"93.0,"
3996,Human Nature,R,Comedy,2001,"September 12, 2001 (France)",6.4,18000,Michel Gondry,Charlie Kaufman,Tim Robbins,France,0,1574660.0,Fine Line Features,"96.0,"
3997,Made,R,Comedy,2001,"August 31, 2001 (United States)",6.4,18000,Jon Favreau,Jon Favreau,Vince Vaughn,United States,5000000,5480653.0,Artisan Entertainment,"95.0,"
3998,One Night at McCool's,R,Comedy,2001,"April 27, 2001 (United States)",6.1,29000,Harald Zwart,Stan Seidel,Liv Tyler,United States,18000000,13578186.0,October Films,"93.0,"
3999,Dr. Dolittle 2,PG,Comedy,2001,"June 22, 2001 (United States)",4.7,42000,Steve Carr,Hugh Lofting,Eddie Murphy,United States,70000000,176104344.0,Twentieth Century Fox,"87.0,"

In [14]:
mvt.isnull().sum()

name           0
rating        40
genre          0
year           0
released       0
score          0
votes          0
director       0
writer         1
star           1
country        0
budget         0
gross        169
company       10
runtime,,      0
dtype: int64

In [7]:
imdb = pd.read_csv('imdb_raw.csv')
imdb

,title,director,release_year,runtime,genre,rating,metascore,gross
0,The Shawshank Redemption,Frank Darabont,(1994),142 min,Drama,9.3,82,$28.34M
1,The Godfather,Francis Ford Coppola,(1972),175 min,"Crime, Drama",9.2,100,$134.97M
2,The Dark Knight,Christopher Nolan,(2008),152 min,"Action, Crime, Drama",9.0,84,$534.86M
3,Schindler's List,Steven Spielberg,(1993),195 min,"Biography, Drama, History",9.0,95,$96.90M
4,12 Angry Men,Sidney Lumet,(1957),96 min,"Crime, Drama",9.0,97,$4.36M
...,...,...,...,...,...,...,...,...
995,A Very Long Engagement,Jean-Pierre Jeunet,(2004),133 min,"Drama, Mystery, Romance",7.6,76,$6.17M
996,Shine,Scott Hicks,(1996),105 min,"Biography, Drama, Music",7.6,87,$35.81M
997,Philomena,Stephen Frears,(2013),98 min,"Biography, Comedy, Drama",7.6,77,$37.71M
998,The Invisible Man,James Whale,(1933),71 min,"Horror, Sci-Fi",7.6,87,0
999,Cell 211,Daniel Monzón,(2009),113 min,"Action, Crime, Drama",7.6,0,0

In [8]:
imdb.isnull().sum()

title           0
director        0
release_year    0
runtime         0
genre           0
rating          0
metascore       0
gross           0
dtype: int64

In [10]:
df = pd.read_csv('mv.csv')
df

,rank,release_date,title,url,production_cost,domestic_gross,worldwide_gross,opening_weekend,mpaa,genre,theaters,runtime,year
0,1,2019-04-23,Avengers: Endgame,/movie/Avengers-Endgame-(2019)#tab=summary,400000000,858373000,2797800564,357115007.0,PG-13,Action,4662.0,181.0,2019.0
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,/movie/Pirates-of-the-Caribbean-On-Stranger-Ti...,379000000,241071802,1045713802,90151958.0,PG-13,Adventure,4164.0,136.0,2011.0
2,3,2015-04-22,Avengers: Age of Ultron,/movie/Avengers-Age-of-Ultron#tab=summary,365000000,459005868,1395316979,191271109.0,PG-13,Action,4276.0,141.0,2015.0
3,4,2015-12-16,Star Wars Ep. VII: The Force Awakens,/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=...,306000000,936662225,2064615817,247966675.0,PG-13,Adventure,4134.0,136.0,2015.0
4,5,2018-04-25,Avengers: Infinity War,/movie/Avengers-Infinity-War#tab=summary,300000000,678815482,2048359754,257698183.0,PG-13,Action,4474.0,156.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,2013-02-06,A Good Day to Die Hard,/movie/Die-Hard-5#tab=summary,92000000,67349198,304249198,24834845.0,R,Action,3555.0,98.0,2013.0
496,497,2004-04-09,The Alamo,/movie/Alamo-The-(2004)#tab=summary,92000000,22406362,23911362,9124701.0,PG-13,Western,2609.0,137.0,2004.0
497,498,1995-12-22,Cutthroat Island,/movie/Cutthroat-Island#tab=summary,92000000,10017322,18517322,2371415.0,PG-13,Adventure,1619.0,NaN,1995.0
498,499,2013-12-19,The Secret Life of Walter Mitty,/movie/Secret-Life-of-Walter-Mitty-The-(2012)#...,91000000,58236838,187861183,12765508.0,PG,Adventure,2922.0,114.0,2013.0
499,500,2023-03-09,65,/movie/65-(2022)#tab=summary,91000000,0,0,NaN,NaN,Thriller/Suspense,NaN,NaN,2023.0

In [11]:
df.isnull().sum()

rank                0
release_date        1
title               0
url                 0
production_cost     0
domestic_gross      0
worldwide_gross     0
opening_weekend    21
mpaa                8
genre               5
theaters           21
runtime            13
year                1
dtype: int64

1. https://www.kaggle.com/datasets/shabnamparveen/top-rated-movies
2. https://www.kaggle.com/datasets/jonbown/christmas-movies
3. https://www.kaggle.com/datasets/ashishkumarjayswal/movies-updated-data
4. https://www.kaggle.com/datasets/arthurchongg/imdb-top-1000-movies
5. https://www.kaggle.com/datasets/mitchellharrison/top-500-movies-budget